{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "semi": ["error", "never"],
    "no-confusing-arrow": "off",
    "import/named": "error",
    "import/default": "error",
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [ ".js", ".jsx"]
      }
    }
  }
}
