.c-header {
  @apply .absolute .pin-x .z-50;

  &::before {
    @apply .absolute .h-full .w-full;
    content: " ";
  }

  &.is-open::before {
    @apply .bg-green .shadow-lg;
  }
}

.c-header__inner {
  @apply .relative .p-4 .flex .items-center .justify-between .flex-wrap .z-50;
}

@screen lg {
  .c-header.is-open {
    @apply bg-transparent shadow-none;
  }
}

.c-header__brand {
  @apply .flex .items-center .flex-no-shrink .mr-6;
}

.c-header__brand-logo {
  @apply .text-green;

  &:hover,
  &:focus {
    @apply .text-green .no-underline;
  }
}

.c-header__toggle {
  @apply .block;
}

@screen lg {
  .c-header__toggle {
    @apply .hidden;
  }
}

.c-header__toggle-button {
  @apply .flex .items-center .px-3 .py-2 .border .rounded-sm .text-green .border-white;

  &:hover,
  &:focus {
    @apply .text-green .border-green;
  }
}

.c-header__nav {
  @apply .w-full;

  .c-header.is-open & {
    @apply .block;
  }
}

@screen lg {
  .c-header__nav {
    @apply .flex .items-center .w-auto;
  }
}

.c-header__nav-link {
  @apply .block .mt-4 .text-white .mr-2 .py-1 .px-2 .rounded-sm;

  &:hover,
  &:focus {
    @apply .bg-grey-lighter .text-green-light .no-underline;
  }

  &.is-active {
    @apply .bg-grey-light .text-green-light .cursor-default;

    &:hover,
    &:focus {
      @apply .bg-grey-light;
    }
  }
}

@screen lg {
  .c-header__nav-link {
    @apply .inline-block .mt-0;
  }
}

.c-header::before,
.c-header__nav {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform .5s, opacity .2s;
}

.c-header__nav {
  opacity: 0;
}

.c-header.is-open {
  &::before,
  .c-header__nav {
    transform: scaleY(1);
    opacity: 1;
  }
}
