.c-main {
  @apply .shadow;

  background-color: #fff;
  position: relative;
  z-index: 1;
}

@media (min-width: 576px) {
  .c-main {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
  }
}
